AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SIRI_API_KEY=
S3_BUCKET_NAME=
_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs

# User ID and Group ID passed into the main Airflow containers
AIRFLOW_UID=50000
DOCKER_GID=0